/src/backend/vendor/
/src/backend/node_modules/
/src/backend/npm-debug.log
/src/backend/yarn-error.log

# Laravel 4 specific
/src/backend/bootstrap/compiled.php
/src/backend/app/storage/

# Laravel 5 & Lumen specific
/src/backend/public/storage
/src/backend/public/hot

# Laravel 5 & Lumen specific with changed public path
/src/backend/public_html/storage
/src/backend/public_html/hot

/src/backend/storage/*.key
.env
/.docker/*
docker-compose.yml
/src/backend/Dockerfile
/src/backend/.env
/src/backend/Homestead.yaml
/src/backend/Homestead.json
/src/backend/.vagrant
/src/backend/.phpunit.result.cache
.idea